.SM_main_container {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.SM_heading {
  width: 50%;
  font-size: 30px;
  color: darkcyan;
}
